body{
    background-color: black;
    border-width:50cm;
    border-color:rgb(9, 122, 122);
}
p{
    line-height:0;
}
#naam{
    font-size:400%;
    padding-top:100;
    padding-left:200;
    text-shadow:5cm;
    color:whitesmoke;
}
#kaam{
    color:rgb(9, 122, 122);
    font-size:xx-large;
    padding-left:200;
    font-style: italic;
}
#des{
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
    
    padding-left:200;
}
a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    font-weight:500;
    padding-left:200;
    color:rgb(16, 73, 73);
}
.p{
    padding-top:100;
}
#linked{
    font-size:larger;
    font-weight:500;
    font-style: italic;
    padding-left:50;
    color:rgb(16, 73, 73);
    
}
#utube{
    font-size:larger;
    font-weight:500;
    font-style: italic;
    padding-left:50;
    color:rgb(16, 73, 73);
}
